:root {
    --primary-black: #182939;
    --primary-white: #fcfaf8;
    --primary-theme: #9662E3;
    --light-gray: #b8c1cc;
    --dark-gray: #737880;
    --shadow-md: 0 0 .5rem rgba(0, 0, 0, 0.5);
    --shadow-sm: 0 0 .25rem rgba(0, 0, 0, 0.5);
}

body, html {
    /* page */
    margin: 0;
    padding: 0;
    background: var(--primary-white);
    /* font */
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: var(--primary-black);
}

input, button {
    font-family: inherit;
    color: inherit;
}

::selection {
    background: var(--primary-theme);
    color: var(--primary-white);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: var(--primary-theme);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transition: scale 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    scale: 1.1;
}

input[type="range"]::-moz-range-track {
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: var(--primary-theme);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transition: scale 0.2s ease;
}

input[type="range"]::-moz-range-thumb:hover {
    scale: 1.1;
}
